{% extends 'baseTablas.html' %}

{% load static %}

{% block content2 %}
<div class="content-header row"></div>
    <div class="content-header-left col-12 mb-2 mt-1">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <h5 class="content-header-title float-left pr-1 mb-0">Reporte de Desplazamiento</h5>
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb p-0 mb-0">
                        <li class="breadcrumb-item"><a><i class="bx bx-home"></i></a></li>
                        <li class="breadcrumb-item"><a>Reportes</a></li>
                        <li class="breadcrumb-item"><a href="/reportes/reporteDesplazamientoView/">Reporte de Desplazamiento</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h4>Reportes de Desplazamiento</h4>
        <p></p>
    </div>
    <div class="card-content">
        <div class="card-body card-dashboard">

            <button id="exportButton" style="float: right;" class="btn btn-success "><i class="bx bxs-file"></i></button>

            <div class="tab-content" id="divFiltros">
                {% include "filtros/filtrosReporteDesplazamiento.html" %}
                <div id="divTablaReporteDesplazamiento">
                    <h1>Cargando...</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        Reportes.initDesplazamiento();
    });
</script>
{% endblock %}