{% extends 'base.html' %}

{% load static %}

{% block content %}
<section id="tooltip-validation">
    <div class="row">
        <div class="col-12">
            <div class="card-body">
                <div class="form-row">
                    <div class="col-md-12">
                        <fieldset class="form-group">
                            <label class="text-bold-600" for="usuario">{{formUser.password.label}}</label>
                            {{formUser.password}}
                        </fieldset>
                        <fieldset class="form-group">
                            <label class="text-bold-600" for="contrasenia">Confirmar
                                contrase&ntilde;a</label>
                            <input type="password" class="form-control" id="confirmNewPassword"
                                name="confirmNewPassword" placeholder="Contrase&ntilde;a">
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        Menu.initMenu();
    });
</script>

{% endblock %}