{% extends 'base.html' %}

{% load static %}

{% block content %}
<section id="floating-label-layouts">
    <BR></BR>
    <div class="row">
        <div class="col-12">
            <fieldset disabled class="form-label-group">
                {{formProveedor.Clave}}
                <label for="first-name-floating">{{formProveedor.Clave.label}}</label>
            </fieldset>
        </div>
        <div class="col-12">
            <fieldset disabled class="form-label-group">
                {{formProveedor.Nombre}}
                <label for="first-name-floating">{{formProveedor.Nombre.label}}</label>
            </fieldset>
        </div>
        <div class="col-12">
            <fieldset disabled class="form-label-group">
                {{formProveedor.RFC}}
                <label for="first-name-floating">{{formProveedor.RFC.label}}</label>
            </fieldset>
        </div>
        <div class="col-12">
            <fieldset class="form-label-group">
                {{formProveedor.Telefono}}
                <label for="email-id-floating">{{formProveedor.Telefono.label}}</label>
            </fieldset>
        </div>
        <div class="col-12">
            <fieldset class="form-label-group">
                {{formProveedor.Email}}
                <label for="contact-info-floating">{{formProveedor.Email.label}}</label>
            </fieldset>
        </div>
        <div class="col-12">
            <fieldset class="form-label-group">
                {{formProveedor.Direccion}}
                <label for="password-floating">{{formProveedor.Direccion.label}}</label>
            </fieldset>
        </div>
        <div class="col-12">
            <fieldset class="form-label-group">
                {{formProveedor.CodigoPostal}}
                <label for="password-floating">{{formProveedor.CodigoPostal.label}}</label>
            </fieldset>
        </div>
        <div class="col-12">
            <label for="selectArticulo">{{formProveedor.Estatus.label}}</label>
            <fieldset class="form-label-group">
                {{formProveedor.Estatus}}
            </fieldset>
        </div>
    </div>
</section>
{% endblock %}