{% extends 'base.html' %}

{% load static %}

{% block content %}
<section id="floating-label-layouts">
    <BR></BR>
    <div class="row">
        <div class="col-12">
            <fieldset class="form-label-group">
                {{formProveedor.clave}}
                <label for="first-name-floating">{{formProveedor.clave.label}}</label>
            </fieldset>
        </div>
        <div class="col-12">
            <fieldset class="form-label-group">
                {{formProveedor.nombre}}
                <label for="first-name-floating">{{formProveedor.nombre.label}}</label>
            </fieldset>
        </div>
        <div class="col-12">
            <fieldset class="form-label-group">
                {{formProveedor.rfc}}
                <label for="first-name-floating">{{formProveedor.rfc.label}}</label>
            </fieldset>
        </div>
        <div class="col-12">
            <fieldset class="form-label-group">
                {{formProveedor.telefono}}
                <label for="email-id-floating">{{formProveedor.telefono.label}}</label>
            </fieldset>
        </div>
        <div class="col-12">
            <fieldset class="form-label-group">
                {{formProveedor.email}}
                <label for="contact-info-floating">{{formProveedor.email.label}}</label>
            </fieldset>
        </div>
        <div class="col-12">
            <fieldset class="form-label-group">
                {{formProveedor.direccion}}
                <label for="password-floating">{{formProveedor.direccion.label}}</label>
            </fieldset>
        </div>
        <div class="col-12">
            <fieldset class="form-label-group">
                {{formProveedor.codigoPostal}}
                <label for="password-floating">{{formProveedor.codigoPostal.label}}</label>
            </fieldset>
        </div>
        <div class="col-12">
            <fieldset class="form-label-group">
                {{formProveedor.estatus}}
                <label for="password-floating">{{formProveedor.estatus.label}}</label>
            </fieldset>
        </div>
    </div>
</section>
{% endblock %}