<div class="row" id="divFiltrosMetas">
    <div class="col-lg-2">
        <label for="rangoFecha">Fechas</label>
        <input type="text" id="rangoFecha" name="rangoFecha" class="form-control">
    </div>
    <div class="col-sm-2">
        <label for="selectArticulo">Producto</label>
        <div class="input-group mb-3">
            <select class="form-control" id="selectArticulo" name="selectArticulo">
                <option value="0">Seleccione...</option>
            </select>
            <span id="btnClearArticulo" class="input-group-text">
                <a href="#" class="bx bx-x-circle"></a>
            </span>
        </div>
    </div>
    <div class="col-sm-2">
        <label for="selectCanal">Canal</label>
        <div class="input-group mb-3">
            <select class="form-control" id="selectCanal" name="selectCanal">
                <option value="0">Seleccione...</option>
            </select>
        </div>
    </div>
    <div class="col-sm-1">
        <label for=""></label>
        <div class="input-group mb-3">
            <span id="btnBuscarMetas" class="btn btn-primary"><i class="bx bx-search"></i></span>
        </div>
    </div>
</div>