<div class="row" id="divFiltrosCompras">
    <div class="col-lg-2">
        <label for="rangoFecha">Fechas</label>
        <input type="text" id="rangoFecha" name="rangoFecha" class="form-control">
    </div>
    <div class="col-sm-3">
        <label for="selectProducto">Articulo</label>
        <div class="input-group mb-3">
            <select class="form-control" id="selectProducto" name="selectProducto">
                <option value="0">Seleccione...</option>
            </select>
            <span id="btnClearArticulo" class="input-group-text">
                <a href="#" class="bx bx-x-circle"></a>
            </span>
        </div>
    </div>
    <div class="col-sm-3">
        <label for="selectProveedor">Proveedor</label>
        <div class="input-group mb-3">
            <select class="form-control" id="selectProveedor" name="selectProveedor">
                <option value="0">Seleccione...</option>
            </select>
            <span id="btnClearProveedor" class="input-group-text">
                <a href="#" class="bx bx-x-circle"></a>
            </span>
        </div>
    </div>
    <div class="col-sm-1">
        <label for=""></label>
        <div class="input-group mb-3">
            <span id="btnBuscarCompras" class="btn btn-primary"><i class="bx bx-search"></i></span>
        </div>
    </div>
</div>