<div class="row" id="divFiltrosVentasCliente">
    <div class="col-lg-2">
        <label for="rangoFecha">Fecha</label>
        <input type="text" id="rangoFecha" name="rangoFecha" class="form-control">
    </div>
    <div class="col-lg-2">
        <label for="selectClientes">Clientes</label>
        <div class="input-group mb-3">
            <select class="form-control" id="selectClientes" name="selectClientes">
                <option value="0">Seleccione...</option>
            </select>
            <span id="btnClearCliente" class="input-group-text">
                <a href="#" class="bx bx-x-circle"></a>
            </span>
        </div>
    </div>
    <div class="col-lg-2">
        <label for="selectArticulo">Articulo</label>
        <div class="input-group mb-3">
            <select class="form-control" id="selectArticulo" name="selectArticulo">
                <option value="0">Seleccione...</option>
            </select>
            <span id="btnClearArticulo" class="input-group-text">
                <a href="#" class="bx bx-x-circle"></a>
            </span>
        </div>
    </div>
    <div class="col-sm-1">
        <label for=""></label>
        <div class="input-group mb-3">
            <span id="btnBuscarVentas" class="btn btn-primary"><i class="bx bx-search"></i></span>
        </div>
    </div>
</div>